body {
background-color:#f0dfeb;
}
h1 {
  color:#7c4a63;
}
h2 {
  color:#7c4a63;
}
h3 {
  color:#7c4a63;



}
hr {
  background-color: white;
  border-style:none;
  height:2px;
  width:77%;
}
img {
  height:270px;
}
